# Data Analysis with Pandas
## Dataset Name: vgsales
## Author : Qusai Qishta
## Date: 21/6/2021

In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('vgsales.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

## Which company is the most common video game publisher?

In [1]:
publisher_data=df['Publisher']
most_common_publisher=publisher_data.mode()
print(most_common_publisher[0])

NameError: name 'df' is not defined

---

## What’s the most common platform?

In [66]:
platform_data=df['Platform']
most_common_platform=platform_data.mode()
print(most_common_platform[0])

DS

---

## What about the most common genre?

In [67]:
genre_data=df['Genre']
most_common_genre=genre_data.value_counts().idxmax()
print(most_common_genre)

Action

---

## What are the top 20 highest grossing games?

In [68]:

top_20_grossing = df[['Name','Global_Sales']].sort_values('Global_Sales', ascending=False).head(20)
top_20_grossing

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

---

## For North American video game sales, what’s the median?

In [74]:
median=df['NA_Sales'].median()
print( 'This is the median for NA Sales :', median)

# for ten games around a median value
median_10=df[df["NA_Sales"] == median][["Name"]].head(10)
median_10

This is the median for NA Sales : 0.08

                                                   Name
446                                   Dragon Warrior IV
497         World Soccer Winning Eleven 7 International
1617                             Farming Simulator 2015
1926                          Pro Evolution Soccer 2008
2067  Winning Eleven: Pro Evolution Soccer 2007 (All...
2373                           Phantasy Star Portable 2
2579                               The Sims 2: Castaway
3186                                     SingStar Queen
3503                                         Top Spin 3
3703               Sonic & All-Stars Racing Transformed

---

## For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [49]:
top_selling_game= df['NA_Sales'].max()
std=df['NA_Sales'].std()
mean=df['NA_Sales'].mean()
result=top_selling_game-mean/std
result

41.165923926032804

---

## The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [51]:
other_platform_mean=df[df['Platform'] != 'Wii'].Global_Sales.mean()
Wii_platform_mean=df[df['Platform'] == 'Wii'].Global_Sales.mean()
print ('mean of Wii is :', Wii_platform_mean)
print('mean of other platform is :' ,other_platform_mean )

mean of Wii is : 0.6994037735849057
mean of other platform is : 0.5233896418516336

---

## Come up with 3 more questions that can be answered with this data set.

In [53]:
# Question one : newest 10 games
df[['Name','Year']].sort_values('Year', ascending=False).head(10)

                                                   Name    Year
5957                             Imagine: Makeup Artist  2020.0
14390  Phantasy Star Online 2 Episode 4: Deluxe Package  2017.0
16241  Phantasy Star Online 2 Episode 4: Deluxe Package  2017.0
16438                  Brothers Conflict: Precious Baby  2017.0
8293                       Shin Megami Tensei IV: Final  2016.0
13647                                     Hitman (2016)  2016.0
13596      Card Fight!! Vanguard G: Stride to Victory!!  2016.0
13602        Refrain no Chika Meikyuu to Majo no Ryodan  2016.0
13614                  Utawarerumono: Futari no Hakuoro  2016.0
13620                 Kamen Rider: Battride War Genesis  2016.0

In [60]:
# Question two : most popular game in EU

most_popular_in_EU = df.sort_values('EU_Sales', ascending=False)
most_popular_in_EU.iloc[0].Name

'Wii Sports'

In [62]:
# Question three: what is the average sales for all games around the world

df['Global_Sales'].mean()

0.5374406555006628

In [75]:
def test():
    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, 'Electronic Arts')
    assert_equal(most_common_platform, 'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(top_20_grossing.iloc[0].Name, 'Wii Sports')
    assert_equal(top_20_grossing.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(median, 0.08)
    assert_equal(median_10.iloc[9].Name, 'Sonic & All-Stars Racing Transformed')

    print("Success!!!")

test()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().